* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: rgb(12 74 110);
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: rgb(30 27 75);
  width: 80%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

input {
  background-color: rgb(23 37 84);
  border: none;
  outline: none;
  padding: 10px;
  color: white;
  flex-basis: 500px;
  flex-grow: 1;
}

button {
  background-color: rgb(70 60 90);
  padding: 10px;
  color: white;
  flex-basis: 500px;
  flex-grow: 1;
  border: none;
  cursor: pointer;
}
